<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>后台管理系统</title>
<meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" href="/twoleader/css/style.css">
<!--[if lt IE 9]>
    <script src="/twoleader/js/jsp5.js"></script>
    <![endif]-->
<script src="/twoleader/js/jquery.js"></script>
<script src="/twoleader/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script>

	(function($){
		$(window).load(function(){
			
			$("a[rel='load-content']").click(function(e){
				e.preventDefault();
				var url=$(this).attr("href");
				$.get(url,function(data){
					$(".content .mCSB_container").append(data); //load new content inside .mCSB_container
					//scroll-to appended content 
					$(".content").mCustomScrollbar("scrollTo","h2:last");
				});
			});
			
			$(".content").delegate("a[href='top']","click",function(e){
				e.preventDefault();
				$(".content").mCustomScrollbar("scrollTo",$(this).attr("href"));
			});
			
		});
	})(jQuery);
</script>
    <style>
        table tbody {
            display: block;
            height: 480px;
            overflow-y: auto;
            overflow-x:hidden;
        }
        table thead,
        tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }
        table thead {width: calc(100% - 1em)}
    </style>
</head>
<body>
<!--header-->
<header>

 <h1><img src="/twoleader/images/admin_logo.png"/></h1>
 <ul class="rt_nav">
  <li><a href="#" class="admin_icon">韩梅梅</a></li>
     <li><a href="../talent/exit" class="quit_icon">安全退出</a></li>
 </ul>
</header>
<!--aside nav-->
<!--aside nav-->
<aside class="lt_aside_nav content mCustomScrollbar">
 <ul>
  <li>
   <dl>
    <dt>功能管理</dt>
       <dd><a href="../talent/listTalent?tid=1" >个人信息</a></dd>
       <dd><a href="../talent/listExperience?tid=1"   class="active">履职经历</a></dd>
       <dd><a href="../talent/listMoney?tid=1" >工资明细</a></dd>
       <dd><a href="../talent/listContract?tid=1" >合同管理</a></dd>
       <dd><a href="../talent/now"  >目前工作</a></dd>
   </dl>
  </li> 
  </li>
 </ul>
</aside>

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">履职经历</h2>
      </div>
     
        <section class="mtb">
        <input type="text" class="textbox textbox_225" placeholder="输入您需要查询的信息"  name="OHid"/> 
        <input type="submit" value="查询" class="group_btn"/>
      </section>    
       
      <table class="table">
          <thead>
       <tr>
        <th>时间</th>
        <th>公司</th>
        <th>职务</th>
        <th>评分</th>      
       </tr>
       </thead>
          <tbody>

          <tr th:each="experience:${listexperience}">
              <td th:text = "${experience.getEtime()}" class="center"></td>
              <td th:text = "${experience.getEother()}" class="center"></td>
              <td th:text = "${experience.getEjob()}" class="center"></td>
              <td th:text = "${experience.getEsco()}" class="center"></td>
          </tr>
          </tbody>
      </table>
 </div>
</section>
</body>
<script th:src="@{/js/jquery-2.1.1.min.js}"></script>
<script th:src="@{/js/avalon.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/myscript.js}"></script>
</html>
