<!--[if lt IE 9]>
<script src="/twoleader/js/html5.js"></script>
<![endif]-->
<!--
<script th:src="@{/js/bootstrap.min.js}"></script>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
-->
<script src="/twoleader/js/jquery.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script th:src="@{/js/avalon.js}"></script>
<script th:src="@{/js/staff.js}"></script>
<script src="/twoleader/js/jquery.mCustomScrollbar.concat.min.js"></script>

<script>
    (function($){
        $(window).load(function(){

            $("a[rel='load-content']").click(function(e){
                e.preventDefault();
                var url=$(this).attr("href");
                $.get(url,function(data){
                    $(".content .mCSB_container").append(data); //load new content inside .mCSB_container
                    //scroll-to appended content
                    $(".content").mCustomScrollbar("scrollTo","h2:last");
                });
            });

            $(".content").delegate("a[href='top']","click",function(e){
                e.preventDefault();
                $(".content").mCustomScrollbar("scrollTo",$(this).attr("href"));
            });

        });
    })(jQuery);


    function updateTalent(id) {
        if(!id){
            alert('id错误');
            return false;
        }
        alert('update'+id);
        $.ajax(
            {
                url:"/staff/requrstTalent",
                data:{"tid":id},
                type:"post",
                //解决编码问题
                scriptCharset: 'utf-8',
                beforeSend:function () {
                    return true;
                },
                success:function (data) {
                    alert(data.tusername)
                    document.getElementById("inputTid").value = data.tid;
                    document.getElementById("inputAccountUpdate").value = data.tusername;
                    document.getElementById("inputPasswordUpdate").value = data.tpassword;
                    document.getElementById("inputNameUpdate").value = data.tname;
                    document.getElementById("inputAgeUpdate").value = data.tage;
                    document.getElementById("inputSexUpdate").value = data.tsex;
                    document.getElementById("inputCerUpdate").value = data.tcer;
                    document.getElementById("inputEduUpdate").value = data.tedu;
                    document.getElementById("inputScoUpdate").value = data.tpro;
                    if(data){

                        $('#username').attr("readonly","readonly");
                    }
                }
            });
    }
</script>
