<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>后台管理系统</title>
 <style th:replace="leader/UserEditor::modalStyle"></style>

<meta name="author" content="DeathGhost" />

 <link rel="stylesheet" type="text/css" href="/twoleader/css/style.css">
 <div th:include="leader/footer.html"></div>

</head>
<body >

<!--header-->
<header>
 
 <h1><img src="/twoleader/images/admin_logo.png"/></h1>
 <ul class="rt_nav">
  <li><a href="#" class="admin_icon">管理员10055</a></li>
  <li><a href="login.jsp" class="quit_icon">安全退出</a></li>
 </ul>
</header>

<div ms-controller='viewmodel'>
<aside class="lt_aside_nav content mCustomScrollbar">
 <ul>
  <li>
   <dl>
    <dt>功能管理</dt>
  <li>
   <dl>
    <dt>职员管理</dt>
    <dd><a ms-click="@ClickMenu(0)" type='button' class="active">员工管理</a></dd>
    <dd><a href=" " >发放工资</a></dd>
    <dd><a href=" " >履职经历</a></dd>
   </dl>
 </li>
  <li>
   <dl>
    <dt>企业管理</dt>
    <dd><a ms-click="@ClickMenu(1)" type='button'>公司管理</a></dd>
    <dd><a href=" " >企业招聘</a></dd>
   </dl>
  </li>
  <dt><a ms-click="@ClickMenu(2)" type='button' >合同管理</a></dt>
  <dt><a href="Company.html" >留言</a></dt>
   </dl>
  </li>   
 </ul>
</aside>
<div>
 //员工列表的显示
 <section ms-visible="0==@curSectionIndex" class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
  <div class="page_title">
   <h2 class="fl">员工管理</h2>
  </div>

  <div th:replace="leader/UserEditor::addTalentModal"></div>

  <table class="table">
   <tr>
    <th style="width: 70px; ">姓名</th>
    <th style="width: 70px; ">年龄</th>
    <th style="width: 70px; ">性别</th>
    <th style="width: 70px; ">资格证书</th>
    <th style="width: 70px; ">教育经历</th>
    <th style="width: 70px; ">业务技能</th>
    <th style="width: 70px; ">评分</th>
    <th style="width: 70px; ">工资结算</th>
    <th style="width: 70px; ">履职经历</th>
    <th style="width: 70px; ">合同管理</th>
    <th style="width: 70px; ">操作</th>
   </tr>
   <tbody>
   <tr th:each="talent,memberStat:${allTalent}">
    <td th:text="${talent.tname}" ></td>
    <td th:text="${talent.tage}"/>
    <td th:text="${talent.tsex}"/>
    <td th:text="${talent.tcer}"/>
    <td th:text="${talent.tedu}"/>
    <td th:text="${talent.tpro}"/>
    <td th:text="${talent.twages}"/>
    <td class="center"><a href="Uwage.html" >前往</a></td>
    <td class="center"><a href="Uexp.html" >前往</a></td>
    <td class="center"><a href="Ucontract.html" >前往</a></td>
    <td class="center">
     <a th:href='@{/staff/delTalent(tid=${talent.tid})}'>删除</a><a>/添加</a>
    </td>
   </tr>

   </tbody>
  </table>
 </div>
</section>

 //企业管理显示
 <section ms-visible="1==@curSectionIndex"  class="rt_wrap content mCustomScrollbar">
  <div class="rt_content">
   <div class="page_title">
    <h2 class="fl">企业管理</h2>
   </div>

   <table class="table">
    <tr>
     <th style="width: 70px; ">名称</th>
     <th style="width: 70px; ">办公地点</th>
     <th style="width: 70px; ">注册时间</th>
     <th style="width: 70px; ">主营业务</th>
     <th style="width: 70px; ">合同详情</th>
     <th style="width: 70px; ">操作</th>
    </tr>
<tbody>
<tr ms-for="el in @business">
     <td >{{el.bname}}</td>
     <td >{{el.baddress}}</td>
     <td >{{el.bphoto}}</td>
     <td >{{el.bjob}}</td>
     <td >{{el.Bid}}</td>
     <td class="center">
       <a>删除</a>
     </td>
    </tr>
    </tbody>
   </table>
  </div>
 </section>

 //员工合同的显示
 <section ms-visible="2==@curSectionIndex" class="rt_wrap content mCustomScrollbar">
  <div class="rt_content">
   <div class="page_title">
    <h2 class="fl">合同管理</h2>
   </div>
   <table class="table">
    <tr>
     <th style="width: 70px; ">合同名称</th>
     <th style="width: 70px; ">详情</th>
     <th style="width: 70px; ">操作</th>
    </tr>
    <tbody>
    <tr ms-for="el in @contractList">
     <td >{{el.cname}}</td>
     <td >{{el.ccontent}}</td>
     <td class="center">删除/添加</td>
    </tr>
    </tbody>
   </table>
  </div>
 </section>

 <section  class="rt_wrap content mCustomScrollbar"></section>
 <section  class="rt_wrap content mCustomScrollbar"></section>
</div>
</div>
</body>
</html>