<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.talent.mapper.businessMapper" >
  <resultMap id="BaseResultMap" type="com.talent.entity.business" >
    <id column="Bid" property="bid" jdbcType="INTEGER" />
    <result column="Busername" property="busername" jdbcType="VARCHAR" />
    <result column="Bpassword" property="bpassword" jdbcType="VARCHAR" />
    <result column="Bname" property="bname" jdbcType="VARCHAR" />
    <result column="Baddress" property="baddress" jdbcType="VARCHAR" />
    <result column="Btime" property="btime" jdbcType="VARCHAR" />
    <result column="Bservice" property="bservice" jdbcType="VARCHAR" />
    <result column="Bphoto" property="bphoto" jdbcType="VARCHAR" />
    <result column="Bjob" property="bjob" jdbcType="VARCHAR" />
    <result column="Bother" property="bother" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Bid, Busername, Bpassword, Bname, Baddress, Btime, Bservice, Bphoto, Bjob, Bother
  </sql>

  <!--  //查询指定公司列表 -->
  <select id="listAllBusiness" resultType="business">
    	  select * from business
    	</select>
  <select id="listBusiness" resultType="business">
    	  select * from business  where Bid=#{bid}
    	</select>

  <!--  //查询指定公司合同列表 -->
  <select id="listContract" resultType="contract">
    	  select * from contract  where Bid=#{bid}
    	</select>

  <!--  //查询指定公司派遣人才 -->
  <select id="listUsedTalent" resultType="usedtalent">
    	   select * from talent,experience where talent.Tid=experience.Tid and experience.Bid=#{bid}
    	</select>


    <!--  //评分 -->
    <update id="score" parameterType="com.talent.entity.usedtalent">
  	    	update experience set Esco=#{esco}   where 	Eid= #{eid}
	</update>

    <!--  //查询已发布信息 -->
    <select id="listpublic" resultType="experience">
    	  select * from experience  where Tid is null  and Bid=#{bid}
    	</select>


    <!--  //删除已发布信息 -->
    <delete id="deletePublic" parameterType="com.talent.entity.experience">
    	  delete  from experience  where Eid= #{eid}
    	</delete>
</mapper>